@tailwind base;
@tailwind components;
@tailwind utilities;


.neon-bg {
    background-color: #FFC400;
    box-shadow: 0 0 5px rgba(255, 196, 0, 0.8),
        0 0 10px rgba(255, 196, 0, 0.8),
        0 0 40px rgba(255, 196, 0, 0.8);
    border-radius: 8px;

}

.projectActive
{
    color: white !important;
    background-color: #8C5EF6!important;
    border: none !important;
    outline: none;
    
}

.activeNav
{
    color: #FFC400;
    font-weight: 600;
    font-size: 1.2rem;

}